@page
@using HealthObserver.Models
@model HealthObserver.Pages.Doctor.PatientProfile.PatientProfileModel

@{
	ViewData["Title"] = "PatientProfile";
}
<style>
	.mb-5 {
		display: flex;
		justify-content: space-between; 
		align-items: center;
	}

		.mb-5 .btn {
			width: 100%;
			max-width: 200px; 
			height: 50px;
		}

	.btn-custom {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
	}
</style>

@if (TempData["ShowAlert"] != null && (bool)TempData["ShowAlert"])
{
	<div class="overlay">
		<div class="alert-container">
			<div class="alert alert-@TempData["AlertType"]">
				<span class="close-btn" onclick="closeAlert()">×</span>
				@TempData["AlertMessage"]
			</div>
		</div>
	</div>
	<script>
		function closeAlert() {
			document.querySelector('.overlay').style.display = 'none';
		}
	</script>
}


<div class="bg-light p-4">
	<h1 class="display-5 custom-header mb-4">Patient Profile</h1>


	<div class="container title-margin bg-secondary mb-4">
		<h3>Personal Information</h3>
		<hr style="color: #43ABAB; background-color: #43ABAB; height: 4px; border: none;" />
		<div class="col-md-8 mb-3">

			<div class="row mb-1 mt-3">
				<div class="col-md-2"><b>First Name: </b></div>
				<div class="col-md-8">@Model.user.FirstName</div>
			</div>
			<div class="row">
				<div class="col-md-2"><b>Last Name: </b> </div>
				<div class="col-md-8">@Model.user.LastName</div>
			</div>

		</div>

		<div class="col-md-8">
			<div class="row mb-1">
				<div class="col-md-2"><b>Pesel: </b>  </div>
				<div class="col-md-4">@Model.user.Pesel</div>

				<div class="col-md-3"><b>Birth Date: </b> </div>
				<div class="col-md-3">@Model.user.BirthDate.Date.ToShortDateString()</div>
			</div>
			<div class="row mb-2">
				<div class="col-md-2"><b>Email: </b> </div>
				<div class="col-md-4">@Model.user.Email</div>
				<div class="col-md-3"><b>Phone Number: </b> </div>
				<div class="col-md-3">@Model.user.PhoneNumber</div>
			</div>
		</div>
	</div>

	<div class="row mb-5">

		<div class="col-2">
			<a href="@Url.Page("/Doctor/Survey/Display", new { userId = @Model.user.Id })" class="btn btn-custom custom-btn-primary">See Surveys</a>
		</div>
		<div class="col-2">
			<a href="@Url.Page("/Doctor/Diagrams/DiagramSurvey", new { userId = @Model.user.Id })" class="btn btn-custom custom-btn-primary">See Diagrams</a>
		</div>
		<div class="col-2">
			<a href="@Url.Page("/Doctor/Prescription/HistoryPrescription", new { userId = @Model.user.Id })" class="btn btn-custom custom-btn-primary">Prescription History</a>
		</div>
		<div class="col-2">
			<button type="button" class="btn btn-custom custom-btn-primary" onclick="openCreateModal()">New Prescription</button>
		</div>
	</div>

	<hr style="color: #43ABAB; background-color: #43ABAB; height: 2px; border: none;" />

	<h2 class="custom-header mb-4 mt-3">Prescriptions</h2>

	@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">
		@Model.ErrorMessage
	</div>
}
	<div class="table-container">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center">Medicine</th>
					<th scope="col" class="text-center">Description</th>
					<th scope="col" class="text-center">Dose</th>
					<th scope="col" class="text-center">Dose Unit</th>
					<th scope="col" class="text-center">Frequency</th>
					<th scope="col" class="text-center">StartPrescription</th>
					<th scope="col" class="text-center">EndPrescription</th>
					<th scope="col" class="text-center">Edit</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var prescription in Model.Prescriptions)
				{
					<tr>
						<td class="text-center">@prescription.Medicine.Name</td>
						<td class="text-center">@prescription.Medicine.Description</td>
						<td class="text-center">@prescription.Dose</td>
						<td class="text-center">@prescription.DoseUnit</td>
						<td class="text-center">@prescription.FrequencyInHours</td>
						<td class="text-center">@prescription.StartPrescription.Date.ToShortDateString()</td>
						<td class="text-center">@prescription.EndPrescription.Date.ToShortDateString()</td>
						<td class="text-center">
							<button type="button" class="btn custom-btn-primary" onclick="openEditModal(@prescription.PrescriptionId)">
								Edit
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>		
		
<div class="modal fade" id="createModal" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createModalLabel">New Prescription</h5>
			</div>
			<div class="modal-body">
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
					<div class="form-group  row mb-3">
						<label asp-for="StartPrescription" class="col-sm-4 col-form-label">Start Date</label>
						<div class="col-sm-8">
							<input class="form-control" type="date" asp-for="StartPrescription" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
							<span asp-validation-for="StartPrescription" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group row mb-3">
						<label asp-for="EndPrescription" class="col-sm-4 col-form-label">End Date</label>
						<div class="col-sm-8">
							<input class="form-control" type="date" asp-for="EndPrescription" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
							<span asp-validation-for="EndPrescription" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group row mb-3">
						<label class="col-sm-4 col-form-label" asp-for="SelectedMedicineId">Medicine</label>
						<div class="col-sm-8">
							<select asp-for="SelectedMedicineId" class="form-control">
								@if (Model.Medicines != null)
								{
									foreach (var medicine in Model.Medicines)
									{
										<option value="@medicine.MedicineId">@medicine.Name</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="form-group row mb-3">
						<label class="col-sm-4 col-form-label" asp-for="Dose">Dose</label>
						<div class="col-sm-8">
							<input type="number" asp-for="Dose" class="form-control" min="0">
							<span asp-validation-for="Dose" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group row mb-3">
						<label class="col-sm-4 col-form-label" asp-for="DoseUnit">Dose Unit</label>
						<div class="col-sm-8">
							<input type="text" asp-for="DoseUnit" class="form-control">
							<span asp-validation-for="DoseUnit" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group row mb-3">
						<label class="col-sm-4 col-form-label" asp-for="FrequencyInHours">Frequency (hours)</label>
						<div class="col-sm-8">
							<input type="number" asp-for="FrequencyInHours" class="form-control" min="0">
							<span asp-validation-for="FrequencyInHours" class="text-danger"></span>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn custom-btn-primary w-100">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@foreach (var prescription in Model.Prescriptions)
{
	<div class="modal fade" id="editModal_@prescription.PrescriptionId" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Prescription</h5>
				</div>
				<div class="modal-body">
					<form method="post" asp-page-handler="Edit" asp-route-prescriptionId="@prescription.PrescriptionId">
						<input type="hidden" name="prescriptionId" value="@prescription.PrescriptionId" />
						<input type="hidden" name="UserId" value="@Model.user.Id" />

						<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

						<div class="form-group row mb-3">
							<label asp-for="StartPrescription" class="col-sm-4 col-form-label">Start Prescription</label>
							<div class="col-sm-8">
								<input class="form-control" type="date" asp-for="StartPrescription" value="@prescription.StartPrescription.ToString("yyyy-MM-dd")" />
								<span asp-validation-for="StartPrescription" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group row mb-3">
							<label asp-for="EndPrescription" class="col-sm-4 col-form-label">End Prescription</label>
							<div class="col-sm-8">
								<input class="form-control" type="date" asp-for="EndPrescription" value="@prescription.EndPrescription.ToString("yyyy-MM-dd")" />
								<span asp-validation-for="EndPrescription" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group  row mb-3">
							<label asp-for="Dose" class="col-sm-4 col-form-label">Dose</label>
							<div class="col-sm-8">
								<input class="form-control" type="number" asp-for="Dose" min="0" value="@prescription.Dose" />
								<span asp-validation-for="Dose" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group row mb-3">
							<label asp-for="DoseUnit" class="col-sm-4 col-form-label">Dose Unit</label>
							<div class="col-sm-8">
								<input type="text" asp-for="DoseUnit" class="form-control" value="@prescription.DoseUnit" />
								<span asp-validation-for="DoseUnit" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group row mb-3">
							<label asp-for="FrequencyInHours" class="col-sm-4 col-form-label">Frequency (hours)</label>
							<div class="col-sm-8">
								<input type="number" asp-for="FrequencyInHours" class="form-control" min="0" value="@prescription.FrequencyInHours" />
								<span asp-validation-for="FrequencyInHours" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn custom-btn-primary w-100">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}

						
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
	$(document).ready(function () {
		$('.cancel-btn').click(function () {
			$(this).closest('.modal').modal('hide');
		});
	});

	function openEditModal(prescriptionId, userId) {
		sessionStorage.setItem('userId', userId);
		$('#editModal_' + prescriptionId).modal('show');
	}

	function openCreateModal() {
		$('#createModal').modal('show');
	}
</script>
