@page
@model HealthObserver.Pages.Doctor.Prescription.HistoryPrescriptionModel
@{
	ViewData["Title"] = "Prescription History";
}

<div class="bg-light p-4">
	<h1 class="display-4 custom-header mb-4">Prescription History</h1>
	@if (Model.UserPrescriptions != null)
	{
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h3>Prescriptions</h3>

			<div>
				<a class="btn custom-btn-success" asp-page="./HistoryPrescription" asp-route-UserId="@Model.UserId" asp-route-MedicationHistorySortOrder="oldest">Sort from oldest</a>
				<a class="btn custom-btn-success" asp-page="./HistoryPrescription" asp-route-UserId="@Model.UserId" asp-route-MedicationHistorySortOrder="newest">Sort from newest</a>
			</div>
		</div>

		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center">Medicine</th>
					<th scope="col" class="text-center">Description</th>
					<th scope="col" class="text-center">Dose</th>
					<th scope="col" class="text-center">Dose Unit</th>
					<th scope="col" class="text-center">Frequency</th>
					<th scope="col" class="text-center">StartPrescription</th>
					<th scope="col" class="text-center">EndPrescription</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var prescription in Model.UserPrescriptions)
				{
					<tr>
						<td class="text-center">@prescription.Medicine.Name</td>
						<td class="text-center">@prescription.Medicine.Description</td>
						<td class="text-center">@prescription.Dose</td>
						<td class="text-center">@prescription.DoseUnit</td>
						<td class="text-center">@prescription.FrequencyInHours</td>
						<td class="text-center">@prescription.StartPrescription.ToString("yyyy-MM-dd")</td>
						<td class="text-center">@prescription.EndPrescription.ToString("yyyy-MM-dd")</td>

					</tr>
				}
			</tbody>
		</table>

	}
	else
	{
		<p>No prescriptions available for @Model.UserName.</p>
	}

</div>