@page
@model HealthObserver.Pages.Doctor.MedicineListModel
@{
	ViewData["Title"] = "Medicine List";
	int medicineCount = 0;
}
<div class="bg-light p-4">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h2 class="custom-header mb-3">Medicine List</h2>
		<button type="button" class="btn custom-btn-primary" onclick="openCreateModal()">Create Medicine</button>
	</div>

	<div class="table-container d-none d-lg-block">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center">#</th>
					<th scope="col" class="text-center">Name</th>
					<th scope="col" class="text-center">Description</th>
					<th scope="col" class="text-center">Edit</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Medicines != null && Model.Medicines.Any())
				{
					@foreach (var medicine in Model.Medicines)
					{
						<tr>
							<th scope="row" class="text-center">@(++medicineCount)</th>
							<td class="text-center">@medicine.Name</td>
							<td class="text-center">@medicine.Description</td>
							<td class="text-center">
								<button type="button" class="btn custom-btn-primary" onclick="openEditModal(@medicine.MedicineId)">
									Edit
								</button>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="4" class="text-center">No medicines available.</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="card-container d-lg-none">
		@if (Model.Medicines != null && Model.Medicines.Any())
		{
			@foreach (var medicine in Model.Medicines)
			{
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">@medicine.Name</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><strong>Description:</strong> @medicine.Description</li>
						</ul>
						<button type="button" class="btn custom-btn-primary" onclick="openEditModal(@medicine.MedicineId)">
							Edit
						</button>
					</div>
				</div>
			}
		}
		else
		{
			<div class="alert alert-info" role="alert">
				No medicines available.
			</div>
		}
	</div>

</div>


<!--dodawanie medicine-->
<div class="modal fade" id="createModal" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createModalLabel">Create Medicine</h5>
				<!--
						<button type="button" class="close cancel-btn" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				-->
			</div>
			<div class="modal-body ">
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
					<div class="form-group mb-4">
						<label asp-for="Medicine.Name" class="control-label"></label>
						<input asp-for="Medicine.Name" class="form-control" />
						<span asp-validation-for="Medicine.Name" class="text-danger"></span>
					</div>
					<div class="form-group mb-4">
						<label asp-for="Medicine.Description" class="control-label"></label>
						<textarea asp-for="Medicine.Description" class="form-control"></textarea>
						<span asp-validation-for="Medicine.Description" class="text-danger"></span>
					</div>
					<div class="form-group text-center mb-2">
						<button type="submit" class="btn custom-btn-primary w-100">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--edycja medicine-->
@foreach (var medicine in Model.Medicines)
{
	<div class="modal fade" id="editModal_@medicine.MedicineId" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Medicine</h5>
					<!--
						<button type="button" class="close cancel-btn" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					-->

				</div>
				<div class="modal-body">
					<form method="post" asp-page-handler="Edit" asp-route-medicineId="@medicine.MedicineId">
						<input type="hidden" name="MedicineId" value="@medicine.MedicineId" />
						<div class="form-group mb-4">
							<label for="Name">Medicine Name:</label>
							<input type="text" class="form-control" id="name" name="Name" value="@medicine.Name" />
						</div>
						<div class="form-group mb-4">
							<label for="Name">Medicine Description:</label>
							<textarea class="form-control" id="description" name="Description">@medicine.Description</textarea>
						</div>
						<div class="form-group text-center mb-2">
							<button type="submit" class="btn custom-btn-primary  w-100">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
	$(document).ready(function () {
		$('.cancel-btn').click(function () {
			$(this).closest('.modal').modal('hide');
		});
	});

	function openEditModal(medicineId) {
		$('#editModal_' + medicineId).modal('show');
	}

	function openCreateModal() {
		$('#createModal').modal('show');
	}
</script>
