@page
@using HealthObserver.Models
@model HealthObserver.Pages.Patient.DashboardPatientModel
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Survey";
}

@{
	var currentUser = await UserManager.GetUserAsync(User);
}


<div class="bg-light p-4">
    <div class="mb-4">
        <h1 class="custom-header mb-3">Welcome to HealthObserver</h1>
        <h2 class="fw-light mt-2">Patient: @currentUser.FirstName @currentUser.LastName </h2>
    </div>
    <hr class="mb-5" style="color: #43ABAB; background-color: #43ABAB; height: 2px; border: none;" />

    <div class="row g-3 justify-content-center align-items-center mb-5">
        <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
            <div class="bg-custom text-center p-4 w-100 d-flex flex-column justify-content-center align-items-center" data-bs-toggle="tooltip" title="Shows today's survey completion status">
                <h3 class="text-light">Today's Surveys</h3>
                <h2 class="display-3 text-light">@Model.TodaySurveyCount / 5</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
            <div class="bg-custom text-center p-4 w-100 d-flex flex-column justify-content-center align-items-center" data-bs-toggle="tooltip" title="Shows today's medication intake status">
                <h3 class="text-light">Today's Medications</h3>
                <h2 class="display-3 text-light">@Model.TodayMedicationCount / @Model.TodayMedicationAllCount</h2>
            </div>
        </div>
    </div>
</div>
