@page
@using HealthObserver.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HealthObserver.Data.Migrations
@model HealthObserver.Pages.Patient.MyPrescriptionsModel
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "My Prescriptions";
}

@if (TempData["ShowAlert"] != null && (bool)TempData["ShowAlert"])
{
	<div class="overlay">
		<div class="alert-container">
			<div class="alert alert-@TempData["AlertType"]">
				<span class="close-btn" onclick="closeAlert()">×</span>
				@TempData["AlertMessage"]
			</div>
		</div>
	</div>
	<script>
		function closeAlert() {
			document.querySelector('.overlay').style.display = 'none';
		}
	</script>
}
@{
	var currentUser = await UserManager.GetUserAsync(User);
}
<div class="bg-light p-4 ">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-2">
        <div class="mb-2 mt-2">
            <a href="@Url.Page("/Doctor/Prescription/HistoryPrescription", new { userId = @currentUser.Id })" class="btn custom-btn-primary">Prescription History</a>
        </div>
        <ul class="nav nav-pills mb-3 mb-md-0" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-prescriptions-tab" data-bs-toggle="pill" href="#pills-prescriptions" role="tab" aria-controls="pills-prescriptions" aria-selected="true">My Prescriptions</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-medication-tab" data-bs-toggle="pill" href="#pills-medication" role="tab" aria-controls="pills-medication" aria-selected="false">
                    Medication Tracking
                </a>
            </li>
        </ul>
        
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-prescriptions" role="tabpanel" aria-labelledby="pills-prescriptions-tab">
            @if (!Model.Prescriptions.Any())
            {
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        You have no prescriptions.
                    </div>
                </div>
            }
            else
            {
            <div class="table-container d-none d-lg-block">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">Medicine</th>
                            <th scope="col" class="text-center">Description</th>
                            <th scope="col" class="text-center">Dose</th>
                            <th scope="col" class="text-center">Dose Unit</th>
                            <th scope="col" class="text-center">Frequency</th>
                            <th scope="col" class="text-center">Start Prescription</th>
                            <th scope="col" class="text-center">End Prescription</th>
                            <th scope="col" class="text-center">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                            @foreach (var prescription in Model.Prescriptions)
                            {
                                <tr>
                                    <td class="text-center">@prescription.Medicine.Name</td>
                                    <td class="text-center">@prescription.Medicine.Description</td>
                                    <td class="text-center">@prescription.Dose</td>
                                    <td class="text-center">@prescription.DoseUnit</td>
                                    <td class="text-center">@prescription.FrequencyInHours</td>
                                    <td class="text-center">@prescription.StartPrescription.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@prescription.EndPrescription.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">
                                        <button class="btn custom-btn-primary" onclick="openCreateModal(this)" data-prescription-id="@prescription.PrescriptionId">Add Amount Taken</button>
                                    </td>
                                </tr>
                            }
                        
                    </tbody>
                </table>
            </div>

            }

            <div class="card-container d-lg-none">
                @if (!Model.Prescriptions.Any())
                {
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            You have no prescriptions.
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var prescription in Model.Prescriptions)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@prescription.Medicine.Name</h5>
                                <p class="card-text">@prescription.Medicine.Description</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Dose:</strong> @prescription.Dose</li>
                                    <li class="list-group-item"><strong>Dose Unit:</strong> @prescription.DoseUnit</li>
                                    <li class="list-group-item"><strong>Frequency:</strong> @prescription.FrequencyInHours</li>
                                    <li class="list-group-item"><strong>Start:</strong> @prescription.StartPrescription.ToString("yyyy-MM-dd")</li>
                                    <li class="list-group-item"><strong>End:</strong> @prescription.EndPrescription.ToString("yyyy-MM-dd")</li>
                                </ul>
                                <button class="btn custom-btn-primary mt-3" onclick="openCreateModal(this)" data-prescription-id="@prescription.PrescriptionId">Add Amount Taken</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="tab-pane fade" id="pills-medication" role="tabpanel" aria-labelledby="pills-medication-tab">
            @if (!Model.MedicationHistory.Any())
            {
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        You have no Medication History.
                    </div>
                </div>
            }
            else
            {
            <div class="table-container d-none d-lg-block">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">Date Taken</th>
                            <th scope="col" class="text-center">Start Prescription</th>
                            <th scope="col" class="text-center">End Prescription</th>
                            <th scope="col" class="text-center">Medicine</th>
                            <th scope="col" class="text-center">Amount Taken</th>
                            <th scope="col" class="text-center">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var history in Model.MedicationHistory)
                            {
                                <tr>
                                    <td class="text-center">@history.TakenDateTime.Date.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@history.Prescription.StartPrescription.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@history.Prescription.EndPrescription.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@history.Prescription.Medicine.Name - @history.Prescription.Dose @history.Prescription.DoseUnit</td>
                                    <td class="text-center">
                                        @if (history.AmountTaken == 0)
                                        {
                                            <span class="text-danger">@history.AmountTaken</span>
                                        }
                                        else if (history.AmountTaken != history.Prescription.Dose)
                                        {
                                            <span class="text-warning">@history.AmountTaken</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">@history.AmountTaken</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <button class="btn custom-btn-primary" onclick="openEditModal('@history.MedicationHistoryId')">Edit Amount Taken</button>
                                    </td>
                                </tr>
                            }  
                        
                            
                        
                    </tbody>
                </table>
            </div>
            }
            <div class="card-container d-lg-none">
                @if (!Model.MedicationHistory.Any())
                {
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                           You have no Medication History.
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var history in Model.MedicationHistory)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@history.Prescription.Medicine.Name</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Date Taken:</strong> @history.TakenDateTime.Date.ToString("yyyy-MM-dd")</li>
                                    <li class="list-group-item"><strong>Start Prescription:</strong> @history.Prescription.StartPrescription.ToString("yyyy-MM-dd")</li>
                                    <li class="list-group-item"><strong>End Prescription:</strong> @history.Prescription.EndPrescription.ToString("yyyy-MM-dd")</li>
                                    <li class="list-group-item"><strong>Amount Taken:</strong> @history.AmountTaken</li>
                                </ul>
                                <button class="btn custom-btn-primary mt-3" onclick="openEditModal('@history.MedicationHistoryId')">Edit Amount Taken</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>



</div>

	<div class="modal fade" id="editModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Amount Taken</h4>
				</div>
				<div class="modal-body">
					<form id="editForm" method="post">
						<div class="form-group mt-2 row">
							<label class="control-label" for="AmountTaken">Amount Taken</label>
							<input class="form-control"  type="number" step="0.1" asp-for="AmountTaken" min="0" />
						</div>
						<div class="form-group mt-4">
							<button type="submit" class="btn custom-btn-primary w-100">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>




<div class="modal fade" id="createModal" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Amount Taken</h4>
			</div>
			<div class="modal-body">
				<form id="createForm" method="post">
					<input type="hidden" asp-for="SelectedPrescriptionId" />
					<div class="form-group mt-2 row">
						<label for="AmountTaken" class="control-label">Amount Taken:</label>
						<input class="form-control" type="number" step="0.1" asp-for="AmountTaken" min="0" />
					</div>
					<div class="form-group mt-2 row">
						<label for="TakenDateTime" class="control-label">DateTime:</label>
						<input class="form-control" type="date" asp-for="TakenDateTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
					<div class="form-group mt-4">
						<button type="submit" class="btn custom-btn-success w-100">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script>

	function openCreateModal(button) {
		var form = document.getElementById('createForm');
		var prescriptionId = button.getAttribute('data-prescription-id');
		form.querySelector('[name="SelectedPrescriptionId"]').value = prescriptionId;
		$('#createModal').modal('show');
	}

	function openEditModal(historyId) {
		var form = document.getElementById('editForm');
		form.action = '/Patient/MyPrescriptions?handler=Edit&Id=' + historyId;
		$('#editModal').modal('show');
	}
</script>